*.DS_Store
*.swp
node_modules
.supercollider.yaml
build
.nyc_output
~.skp
ansible/roles/*.*
*.retry
owa_env
arduino/upload_arduino.sh
arduino/serial_monitor.sh
*~.skp
combined.log
error.log
*.swo
sclang_conf.yaml
sounds_*.zip
