export GUI_OSC_IN_PORT=8989
export GUI_OSC_OUT_PORT=8990
export GUI_HOST={{ owa_gui_host }}
export OWA_HOST=localhost
export SC_OSC_IN_PORT=8987
export SC_LINK_IN_PORT=8986
export SC_LINK_OUT_PORT=8985
export SC_OSC_OUT_PORT=8988
export SOUNDS_DIRECTORY_PATH={{ owa_sounds_dir }}
