html, body {
  margin: 0;
}

body {
  font-family: sans-serif;
  padding-top: 4rem;
}

h1 {
  text-align: center;
}

img {
    height: auto;
    width: 100%;
    vertical-align: middle;
    box-sizing: inherit;
}

video {
    height: auto;
    width: 80%;
    vertical-align: middle;
    box-sizing: inherit;
}

div.person-with-model img {
  display: inline;
  /*width: 48%;*/
}
img.owa-model {
  width: 24%;
}
img.person {
  width: 24%;
}

.row {
  margin-bottom: 4rem;
}

/*.column {*/
  /*float: left;*/
  /*width: 33%;*/
  /*padding: 5px;*/
/*}*/

/*.row::after {*/
  /*content: "";*/
  /*clear: both;*/
  /*display: table;*/
/*}*/

 /*@media (min-width: 40em) {*/
    /*main {*/
    /*width: 100%;*/
  /*}*/
/*}*/

