html, body {
  margin: 0;
}

body {
  font-famiy: 'Karla', sans-serif;
  padding-top: 4rem;
  background-color: rgb(48, 48, 48);
  
}

body, h1, h2 {
  color: rgb(230, 230, 230);
}

h1 {
    font-weight: 700;
  font-size: 25px;
}
h2 {
  font-weight: 700;
  font-size: 16px;
}


img {
    height: auto;
    width: 100%;
  max-width: 640px;
    vertical-align: middle;
    box-sizing: inherit;
}

a {
  color: rgb(160, 160, 160);
}
a:visited {
  color: rgb(160, 160, 160);
}
a:hover {
  text-decoration: underline;
}

img, iframe {
      margin-bottom: 1rem;

}

video {
    height: auto;
    width: 80%;
    vertical-align: middle;
    box-sizing: inherit;
}

.row {
  margin-bottom: 4rem;
}

nav {
  margin-bottom: 2rem;
}
